
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

html, body {
 overflow-y: hidden;
 height: 100%;
}

.navbar{
  color: #f1f1f1;
  background-color: #0e395e;
}

/*
 * Sidebar
 */

 .sidebar {
  background-color: #16132d;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  height: calc(100vh - 40px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #f1f1f1;
}

.sidebar .nav-link.active {
  color: #fff;
}

.sidebar .nav-link:hover {
  color: #7063a0;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  color: #f1f1f1 ;
}

.bottom-info{
  word-wrap: break-word;
}

.logged-info{
  font-size: 12px;
  color: #f1f1f1;
}

.fill{
  height: 100%;
}

.chat{
  background:whitesmoke;
  width: 100%;
  height: 100%;
}

.chat .chat-history {
  padding-right: 30px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  overflow-y: auto;
  height: 80%;
}

.chat #messages-list{
  height: 80%;
}


.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #86BB71;
}

.chat .chat-history .my-message {
  background: #94C2ED;
}

.chat .chat-history .my-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .panel-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.dark-purple{
  color: #2e275b;
}

.ligth-purple{
  color: #7063a0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: right;
}

.float-right {
  float: right;
}

#message-to-send{
  margin-right:2px;
}

#btn-chat{
  border:0;
  padding:10px;
}




.round-letter{
  width: 30px;
  height: 30px;
  border-radius:20px;
  text-align: center;
  background:#FF4C00;
  display:inline-block;
  color:#0e395e;
  font-size:20px;
  line-height: 25px;
  font-weight: bold;
}

.border-hr-left{
  margin-left:50px;
  border-right: 1px solid #555;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #999;
}

.transparent{
  opacity: 0.8;
}

.me{
  color: #94C2ED
}

.him{
  color: #86BB71
}